<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginMain</title>
    <link rel="stylesheet" href="loginMain.css">
</head>
<body>
<div class="signup-container">
    <h1><img src="images/logo_final_3.svg" alt="D'OH Logo"></h1>
    <div class="h2">
        <h2>반가워요</h2>
    </div>
    <div class="or-divider">
        <hr><span>또는</span>
        <hr>
    </div>
    <div class="sns-container">
        <button type="button" id="email-signup-btn" class="email-signup-btn">
            <a href="test.html"><strong>이메일로가입하기</strong></a>
        </button>
    </div>
    <h6>이미계정이 있으신가요?
        <a href="login.html" class="login-link">로그인하기</a>
    </h6>
</div>
</body>
</html>