<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="markup.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div></div>
    </header>
    <banner>
        <img src="img/banner.png" alt="banner"  height="240px">
    </banner>
    <main>
        <div class="container">
            <div class="sidebar">
                <img src="img/quokka.jpg"><br>
                <div class="username">
                    쿼카
                </div>
                <div>
                    http://naver.com/
                </div><br>
                <button class="edit-profile">프로필 수정하기</button>
                <div class="activity">
                    <div class="section-title">
                        <h3>라우드 활동</h3>
                    </div>
                    <span>평균 응답시간: 정보 없음</span>
                    <span>연락 가능시간: 정보 없음</span>
                </div>
            </div> <!-- sidebar end -->
            <div class="main-class">
                <a href="#" class="profilewrite">프로필 작성하러가기</a>
                <!-- <h2>안녕하세요</h2>
                반갑습니다. -->
            </div>
            <div class="button-class">
                <div class="profilesetting">
                    <a href="#">프로필 설정</a>
                </div>
                <div class="portfolio">
                    <a href="#">포트폴리오</a>
                </div>
                <div class="upload">
                    <a href="#">작품 업로드하기</a>
                </div>
            </div> <!-- button-class end -->
            <div class="management">
                <div><h3>참여한 공모전</h3><hr></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
            
            </div>
            <div class="commition">
                <div><h3>공모전 의뢰 목록</h3><hr></div>
                <div class="commition1">
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                </div>
            </div>
        </div> <!-- container end -->
    </main>
    <footer>
        
    </footer>
</body>
</html>